@import "tailwindcss";

/* src/index.css */
.bg-world-map {
    background-image: url('/images/world-map.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  